<!DOCTYPE html>
<html>
<script>
setTimeout(function(){
   window.location.reload(1);
}, 15000);
</script>
<body>
<div>
  <%= data %>
  <table>
<% for(var i=0; i < data.length; i++) { %>
   <tr>
     <td><%= data[i].date %></td>
     <td><%= data[i].data %></td>
   </tr>
<% } %>
</table>
  
</div>
</body>
</html>
