<!DOCTYPE html>
<html>
<script>
   var data = "test data";
   console.log(data);
   
setTimeout(function(){
   window.location.reload(1);
}, 15000);
</script>
<body>
<div>
  test
</div>
</body>
</html>
